.hero {
	 margin-bottom: 305px;
}
 .hero-main {
	 margin-top: -660px;
	 max-width: 580px;
	 margin-left: 190px;
}
 .hero-heading {
	 font-weight: 800;
	 font-size: 58px;
	 line-height: calc(80 / 58);
	 margin-bottom: 40px;
}
 .hero-desc {
	 font-weight: 500;
	 font-size: 20px;
	 line-height: calc(30 / 20);
	 color: #fff;
	 margin-bottom: 40px;
}
 .hero-button {
	 display: flex;
	 gap: 0 10px;
}
 @media screen and (max-width: 1439px) {
	 .hero {
		 padding: 50px 40px;
	}
}
 @media screen and (max-width: 767px) {
	 .hero-button {
		 display: flex;
		 align-items: center;
		 flex-direction: column;
		 justify-content: center;
		 gap: 25px 0px;
	}
}
