h1, h2 {
    color:#ff4f57;
}
 
a {
    color: #ff4f57;
}
 
table {
    border-collapse: collapse;
}
 
table th, table td {
    padding: 5px;
}
 
.error {
    color: red;
    font-style: italic;
}

#listEvents_wrapper {
	width: 90%;
    margin: 0 auto;
}

#formAddEvent {
	width: 90%;
    margin: 0 auto;
}

#detailEvent {
	width: 90%;
    margin: 0 auto;
}

.navbar-brand {
	margin-left: 10px;
	font-weight: 600;
}

body {
	background-color: #489c20e0 !important;
}