<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>information</title>
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/appmain.css}">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <section style="padding: 10px; font-family: sans-serif;" class="header-lienhe">
                <span style="margin-left: 190px;" class="header-lienhe-ten">Trả lại màu xanh</span>

            </section>
            <section class="header-container" style="margin-bottom: 0">
                <a th:href="@{/user/information}">
                    <img class="header-images" src="../image/logo.jpg" alt="#">
                </a>
                <ul class="menu">
                    <div class="menu-list">
                        <li class="menu-item">
                            <a th:href="@{/user/information}" class="menu-link">Thông tin chung</a>
                        </li>
                        <li class="menu-item">
                            <a th:href="@{/user/net}" class="menu-link">Mạng lưới xanh</a>
                        </li>
                        <li class="menu-item">
                            <a th:href="@{/user/conect}" class="menu-link">Kết nối xanh</a>
                        </li>
                        <li class="menu-item">
                            <a th:href="@{/user/experience}" class="menu-link">Trải nghiệm xanh</a>
                        </li>
                        <li class="menu-item">
                            <a th:href="@{/event/listMyEvents}" class="menu-link">Event</a>
                        </li>
                    </div>
                    <div class="menu-card">
                        <li class="menu-item">
                            <a href="#" class="menu-link"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </li>
                        <li class="menu-item">
                            <a th:href="@{/user/register}" class="menu-link">
                                <i class="fa-solid fa-user"></i>
                            </a>
                        </li>
                    </div>
                </ul>
            </section>


        </header>

        <main style="padding-top:0; background: white;">
            <section class="slogan">
                <div class="container">
                    <div class="slogan-title">
                        <h1 class="slogan-content">Thông tin chung</h1>
                    </div>
                </div>

            </section>
            <section class="blog">
                <div class="container">
                    <div class="blog-main">
                        <div class="blog-left">
                            <div class="blog-left-introduce">
                                <h5 class="blog-left-title">Chương trình hỗ trợ cây thực hiện Tết trồng cây</h5>
                                <p class="blog-left-date">Đăng vào lúc 16 Tháng Hai, 2022</p>
                                <p class="blog-left-content">Hiện nay Chương trình Để Trái Đất Mãi Xanh đang thực hiện hỗ trợ cây cho các tổ chức, cá nhân để triển khai chương trình Tết trồng cây năm 2022 với số lượng và loại cây phù hợp hiện có. Tổ chức, cá nhân có nhu cầu xin vui
                                    lòng liên hệ Chương trình […]</p>
                                <a class="blog-left-detail" href="#!">xem tiếp </a>
                            </div>

                            <div class="blog-left-introduce">
                                <h5 class="blog-left-title">Thư Ngỏ</h5>
                                <p class="blog-left-date">Đăng vào lúc 16 Tháng Hai, 2022</p>
                                <p class="blog-left-content">Thư Ngỏ Xin chào các bạn! Chúng mình là nhóm các bạn trẻ có lứa tuổi từ mẫu giáo đến trung học phổ thông, sinh viên và đến từ nhiều vùng miền, nhiều dân tộc của Đất nước Việt Nam tươi đẹp. Nói về phá rừng, các tác hại,
                                    sự cố lũ lụt, sạt, lở […]</p>
                                <a class="blog-left-detail" href="#!">xem tiếp </a>
                                <img src="../image/bgc.png" alt="#!">
                            </div>

                            <div class="blog-left-introduce">
                                <h5 class="blog-left-title">Thư Ngỏ</h5>
                                <p class="blog-left-date">Đăng vào lúc 16 Tháng Hai, 2022</p>
                                <p class="blog-left-content">Thư Ngỏ Xin chào các bạn! Chúng mình là nhóm các bạn trẻ có lứa tuổi từ mẫu giáo đến trung học phổ thông, sinh viên và đến từ nhiều vùng miền, nhiều dân tộc của Đất nước Việt Nam tươi đẹp. Nói về phá rừng, các tác hại,
                                    sự cố lũ lụt, sạt, lở […]</p>
                                <a class="blog-left-detail" href="#!">xem tiếp </a>
                                <img src="../image/bgc.png" alt="#!">
                            </div>
                        </div>
                        <div class="blog-right">
                            <div class="blog-right-search">
                                <input class="blog-search" type="search" placeholder="Tìm kiếm …" value="">
                                <i class="blog-i fa-solid fa-magnifying-glass"></i>
                            </div>
                            <div class="blog-right-row">
                                <h5 class="blog-right-title">Bài viết mới</h5>
                                <div class="blog-right-baiviet">
                                    <ul class="blog-ul">
                                        <li class="blog-li">
                                            <a class="blog-text" href="#!">Chương trình hỗ trợ cây thực hiện Tết trồng
                                                cây đấ á</a>
                                        </li>
                                        <li class="blog-li">
                                            <a class="blog-text" href="#!">Thư viện xanh</a>
                                        </li>
                                        <li class="blog-li">
                                            <a class="blog-text" href="#!">CBL Văn-Thơ Xanh</a>
                                        </li>
                                        <li class="blog-li">
                                            <a class="blog-text" href="#!">Cảm nghĩ Xanh</a>
                                        </li>
                                        <li class="blog-li">
                                            <a class="blog-text" href="#!">Đồng hành xanh</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>


                            <div class="blog-right-row">
                                <h5 class="blog-right-title">Bài viết mới</h5>
                                <div class="blog-right-baiviet">
                                    <ul class="blog-ul">
                                        <li class="blog-li">
                                            <a class="blog-text" href="#!">Chương trình hỗ trợ cây thực hiện Tết trồng
                                                cây đấ á</a>
                                        </li>
                                        <li class="blog-li">
                                            <a class="blog-text" href="#!">Thư viện xanh</a>
                                        </li>
                                        <li class="blog-li">
                                            <a class="blog-text" href="#!">CBL Văn-Thơ Xanh</a>
                                        </li>
                                        <li class="blog-li">
                                            <a class="blog-text" href="#!">Cảm nghĩ Xanh</a>
                                        </li>
                                        <li class="blog-li">
                                            <a class="blog-text" href="#!">Đồng hành xanh</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <section class="footer">
                <div class="container">
                    <div class="footer-container">
                        <div class="footer-top">
                            <span class="footer-content">“Sống xanh” được hiểu nôm na là lối sống lành mạnh, thân thiện
                                với môi trường. Đối với
                                trẻ em, tùy theo độ tuổi mà cha
                                mẹ tìm hiểu và dạy cho con thói quen sống phù hợp, tích cực, thân thiện với thiên nhiên
                                và góp phần bảo vệ môi trường..</span>
                        </div>
                    </div>
                </div>
            </section>
            <section class="footer-bottom">
                <div class="container">
                    <div class="footer-bottom-chinh">
                        <span class="footer-bottom-left">©2021 EMCLAB JSC Copyright</span>
                        <div class="footer-bottom-right">
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-github"></i>
                        </div>
                    </div>

                </div>

            </section>
        </footer>
    </div>


</body>

</html>