<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Event List</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet">

<link
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css"
	rel="stylesheet">

</head>
<body>
	<h1>Event List</h1>

	<div>
		<!-- 		<nobr>
			<a th:href="@{/event/create}">Add Event</a> | <a
				th:href="@{/event/getListEvents}">Back to Index</a>
		</nobr> -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" th:href="@{/event/getListEvents}">
				<img style="width:50px; height:50px" src="/image/logo.jpg"/>
			</a>
			<a class="navbar-brand" th:href="@{/event/create}">Add Event</a> <a
				class="navbar-brand" th:href="@{/event/listMyEvents}">List My
				Event</a> <a class="navbar-brand"
				th:href="@{/event/getListEventsJoined}">List Events Joined</a> <a
				class="navbar-brand" th:href="@{/event/getListEventsApproval}">List
				Events Need Aprroval</a> <a class="navbar-brand"
				th:href="@{/user/logout}">Logout</a>
		</nav>
	</div>
	<br />
	<br />
	<div>
		<table class="table table-hover table-striped" id="listEvents"
			style="width: 100%">
			<thead>
				<tr>
					<th>Id</th>
					<th>Event Name</th>
					<th>Description</th>
					<th>Detail User</th>
					<th>Approval Joins</th>
					<th>Reject Joins</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="eventJoin : ${eventJoins}">
					<td th:text="${eventJoin.id}" />
					<td th:text="${eventJoin.event.name}" />
					<td th:text="${eventJoin.event.description}" />
					<td>
						<button type="button" class="btn btn-primary"
							data-bs-toggle="modal" data-bs-target="#modalJoinEvents">
							Detail User</button>
						<div class="container">
							<!-- Modal -->
							<div class="modal fade" id="modalJoinEvents" tabindex="-1"
								aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Detail
												User</h5>
											<button type="button" class="btn-close"
												data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<table border="0">
												<div class="mb-3 row">
													<label for="Email" class="col-sm-2 col-form-label">User Name</label>
													<div class="col-sm-10">
														<input type="text" readonly class="form-control-plaintext"
															id="Email" th:text="${eventJoin.user.email}">
													</div>
												</div>
												<div class="mb-3 row">
													<label for="Address" class="col-sm-2 col-form-label">Address</label>
													<div class="col-sm-10">
														<input type="text" readonly class="form-control-plaintext"
															id="Address" th:text="${eventJoin.user.address}">
													</div>
												</div>
											</table>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-bs-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</td>
					<td>
						<button type="button" class="btn btn-primary">
						<!-- <a th:href="${'/blah1/' + {object1.id} + '/blah2/' + {object2.id}}">some link</a> -->
							<a th:href="${'/event/approvalJoinEvents/' + {eventJoin.event.id} + '/' + {eventJoin.user.id}}"
								style="color: white; text-decoration: none;">Approval Joins</a>
						</button>
					</td>
					<td>
						<button type="button" class="btn btn-primary">
								<a th:href="@{/event/cancelJoinEvents/{id}(id=${eventJoin.event.id})}" style="color: white; text-decoration: none;">Reject Joins</a>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<br />
	<br />
	<div>
		<nobr>
			<!-- <span th:if="${hasPrev}"><a th:href="@{/contacts?page={prev}(prev=${prev})}">Prev</a>&nbsp;&nbsp;&nbsp;</span> 
                <span th:if="${hasNext}"><a th:href="@{/contacts?page={next}(next=${next})}">Next</a></span> -->
		</nobr>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>

	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script
		src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script
		src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

	<script>
		$(document).ready(function() {
			$('#listEvents').DataTable();
		});
	</script>
</body>
</html>